<%= header_section("Your subscription has been paused.") %>
<div>
  <p>You have paused your subscription to <%= @subscription.link.name %>. You will no longer be charged and will lose access to updates immediately.</p>
  <p>You can resume your subscription at any time.</p>
</div>
<div>
  <%= link_to "Manage subscription", @edit_card_url, class: "button primary" %>
</div>